:root {
    --main-bg: #4CAF50;
    --card-trans-bg: #FFFFFFE0;
}

.card-cover {
    background-color: var(--main-bg);
    border-radius: .5rem;

    & .header {

        & .form-name {
            background-color: var(--card-trans-bg);
            border-radius: .5rem;
            width: 100%;

            & .status {
                font-size: 1.25rem;
            }

            & .active {
                color: green;
            }

            & .closed {
                color: red;
            }

            > h3 {
                margin: 0;
            }
        }

        & .download-data {
            background-color: var(--card-trans-bg);
            border-radius: .5rem;
            width: 3.5rem;
            font-size: 1.5rem;
            cursor: pointer;
        }

        & .download-data:active {
            opacity: .8;
            transition: .2s;
        }

    }

    & .card-trans {
        background-color: var(--card-trans-bg);
        border-radius: .5rem;
        overflow: auto;
    }
}

.close-btn,
.sell-btn {
    font-size: 1.25rem;
    font-weight: bold;
}

