{% extends "layout.html" %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'userprofile/userprofile.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-4 mx-2 container d-flex flex-column justify-content-center align-items-center" id="user-prof">
            <img style="height: 70px; width: auto;" src="https://icons.iconarchive.com/icons/iconarchive/badge-trophy/512/Badge-Trophy-Emerald-icon.png" alt="rank-pic" id="rank-pic">
            <img id="prof-pic" src="https://pbs.twimg.com/media/EOHvlzOXUAAScN5.jpg">

            <div class="mx-1 basic-point-card" id="your-rank" style="text-align: left; height: auto; width: 210px;">

                <div class="basic-info">
                    <h4 id="acct_name"><strong>Account Name</strong></h4>
                    <button type="button" class="btn btn-outline-secondary btn-sm edit-button" style="--bs-btn-padding-y: .25rem; ; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="edit-acct-name">Edit</button>
                </div>
                <div class="basic-info">
                    <h5 id="email">User Name</h5>
                    <button type="button" class="btn btn-outline-secondary btn-sm edit-button" id="edit-acct-name">Edit</button>
                </div>
                
            </div>

        </div>

        <div class="container-fluid d-flex flex-column justify-content-center" id="user-prof-forms">
            <h2><strong>User's Published Forms</strong></h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% block extra_js %}
    <!-- JAVA LOCAL -->
    <script src="{% static 'userprofile/userprofile.js' %}"></script>
{% endblock %}

{% endblock %}