{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'answering/form.css' %}">
{% endblock %}

{% block body %}

<div class="container">

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="noticeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary dismiss" data-bs-dismiss="modal">Dismiss</button>
            </div>
            </div>
        </div>
    </div>

    <div class="form-head">
        <h2 class="form-name"></h2>
        <pre class="description">

        </pre>
    </div>
    <div class="form">

    </div>
    
    <div class="button-container">
        <button class="btn btn-warning" onclick="saveResponse()">Submit</button>
    </div>

</div>


<script src="{% static 'answering/form.js' %}"></script>
{% endblock %}