{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'form_management/form_response.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    
    <div class="card-cover p-3">
        <div class="header mb-3 d-flex">
            <div class="form-name p-2 d-flex align-items-center">
                {% if not form.is_sale %}
                    <i class="fa-solid fa-circle-dot status mx-2 {% if form.is_open %} active {% else %} closed {% endif %}"></i>
                {% else %}
                    <i class="fa-regular fa-money-bill-1 status mx-2"></i>
                {% endif %}
                <h3>{{ form_name }}</h3>
            </div>
            <div class="form-responses d-flex justify-content-center align-items-center flex-row ms-2 p-3">
                <label for="rows">{{ records.count }}&nbsp;{% if records.count <= 1 %}Row{% else %}Rows{% endif %}</label>
            </div>
            {% if not form.is_open %}
                <div class="download-data d-flex justify-content-center align-items-center ms-2">
                    <i class="fa-solid fa-download"></i>
                </div>
            {% endif %}
        </div>
        <div class="card-trans p-3">
            <div class="form-response">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col" class="header">Responder</th>
                        {% for question in questions %}
                            <th scope="col" class="header">{{ question }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for record in records %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ record.responder }}</td>
                                {% for item in record.response %}
                                    <td>{{ item.response }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center mt-3 justify-content-end">
        {% if form.is_open %}
        <form action="{% url 'form_response' form.id %}" method="POST" class="close-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="close-form">
            <button class="btn btn-primary close-btn">Close</button>
        </form>
        {% elif not form.is_open and not form.is_sale %}
        <form action="{% url 'form_response' form.id %}" method="POST" class="sell-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="sell-form">
            <button class="btn btn-success sell-btn" {% if records.count == 0 %} disabled {% endif %}>Sell This!</button>
        </form>
        {% endif %}
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="noticeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary confirm" >Yes</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script> <!-- Script for exporting as .xlsn file -->
    <script src="{% static 'form_management/form_response.js' %}" ></script>
{% endblock %}