{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <h1>Form Management</h1>

    <div class="design-container">
        <section class="card p-3 my-3" data-section="1" >
            <select name="section-type" class="form-select" onchange="selectFormType(this)">
                <option value="" disabled selected>Select Section Type</option>
                <option value="checkbox">Checkbox</option>
                <option value="dropdown">Dropdown</option>
                <option value="radio">Radio</option>
                <option value="short">Short text</option>
                <option value="long">Long Text</option>
                <option value="file">Upload file</option>
                <option value="date">Date</option>
                <option value="time">Time</option>
            </select>
            <div class="display"></div>
        </section>
    </div>

    <button class="add-section">Add Section</button>
    <button class="save">Save</button>


</div>

<script src="{% static 'form_management/main.js' %}"></script>
{% endblock %}
