{% extends "layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'answering/index.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ title }}</h1>

    <div class="all-forms d-flex flex-row flex-wrap">
        {% for form in forms %}
            <div class="form-card p-2 d-flex flex-column col-sm-6 col-md-4 col-lg-3" data-code="{{ form.id }}">
                <div class="form p-2 d-flex flex-column">
                    <div class="img-container d-flex justify-content-center">
                        <img src="{% static 'answering/imgs/no-pic.png' %}" alt="no-photo">
                    </div>
                    <div class="form-meta-data mt-2 p-2">
                        <h6 class="form-name">{{ form.form_name }}</h6>
                        <div class="description">
                            {{ form.description }}
                        </div>
                        <div class="bottom-section mt-auto p-1">
                            <span class="point">{{ form.form_point }}</span><span class="unit">pts.</span>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h3>No form</h3>
        {% endfor %}
    </div>

</div>


<script src="{% static 'form_management/myforms.js' %}"></script>
{% endblock %}