{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'authentication/authen.css' %}">
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-4" id="greet">
        <h1 id="greet-text">Welcome Back! 🤗</h1>
    </div>
    <div class="col-4 login-form">

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2 class="m-2"><strong>Sign In</strong></h2>
            <div class="m-2 form-group">
                <input autofocus class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="m-2 form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="m-2" style="align-items: center;">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>
        <p class="m-2" style="color: gray;">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        
    </div>
</div>

{% endblock %}