{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'authentication/authen.css' %}">
{% endblock %}

{% block body %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-4" id="greet">
            <h1 id="greet-text">New Here? 😏</h1>
        </div>
        <div class="col-4 login-form">

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <h2 class="m-2"><strong>Register</strong></h2>
                <div class="m-2 form-group">
                    <input class="form-control" type="text" name="fname" placeholder="First Name">
                </div>
                <div class="m-2 form-group">
                    <input class="form-control" type="text" name="lname" placeholder="Last Name">
                </div>
                <div class="m-2 form-group">
                    <input class="form-control" type="text" name="acctname" placeholder="Account Name">
                </div>
                <div class="m-2 form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="m-2 form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="m-2 form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="m-2 btn btn-primary" type="submit" value="Register">
            </form>
            <p class="m-2" style="color: gray;">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        
            
            
        </div>
    </div>

    
</div>

{% endblock %}