/* user info area */
#user-prof {
    width: 250px;
    height: auto;
    margin: 20px; /* This centers the element both horizontally and vertically */
    padding: 30px;
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    border-radius: 6px;
}

#prof-pic {
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
    margin-bottom:20px;
}

/* basic-info */
#basic-point {
    width: 400px;
    height: auto;
    margin: 20px; /* This centers the element both horizontally and vertically */
    padding: 10px;
    display: flex; /* Use Flexbox */
    flex-direction: row; /*  Arrange items vertically */
    align-items: center; /* Center items horizontally */
    border-radius: 6px;
}

.basic-point-card {
    width: 250px;
    height: auto;
    border-radius: 6px;
    background-color: #F4F4F4;
    padding: 6px;
}

.head-point {
    background-color: #4CAF50;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
}


/* redeem area */
#redeem-container {
    width: 380px;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: #F4F4F4;
}

.redeem-option {
    background-color: #2196F3;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 6px;
}

#remain {
    font-size: small;
    color: #333333;
}

.wrapper-cash, .wrapper-discount, .wrapper-prize {
    width: 340px;
    height: fit-content;
    overflow-x: scroll;
    display: flex;
    padding: 5px;
    /* background-color: #2196F3; */
}

.point-preview {
    background-color: #FFC107;
    color: black;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.unable-to-buy {
    background-color: #b1b1b1;
    color: black;
}