#prof-pic {
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
    margin-bottom:20px;
}

#user-prof {
    max-width: 430px;
}

#acct_name, #email {
    font-weight: bold;
    font-size: large;
}

#rank-pic {
    position: relative;
    top: 50px;
    left: 65px;
}

#user-prof-forms {
    margin: 20px;
    padding: 20px;
    background-color: #F4F4F4;
}

.active {
    color: green;
}

.closed {
    color: red;
}

